
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-lanchonete-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app-lanchonete-deployment
  template:
    metadata:
      labels:
        app: app-lanchonete-deployment
    spec:
      containers:
      - name: app-lanchonete
        image: rmontoza/applanchonete:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: app-lanchonete-secret
              key: MONGODB_URI
        volumeMounts:
        - name: app-lanchonete-volume
          mountPath: /app
        ##command: ["/start-web.sh"]  # Substitua isso pelo comando de início apropriado, se necessário
      volumes:
      - name: app-lanchonete-volume
        emptyDir: {}
